In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import warnings
warnings.filterwarnings("ignore")

## Load Data

In [2]:
import pandas as pd
from scipy.spatial import distance
#https://www.google.com/covid19/mobility/
url = 'https://drive.google.com/file/d/18gyHbx6rfogq3yQ-GR9COjcGgyYlCnBZ/view?usp=sharing'
url2020 = 'https://drive.google.com/uc?id=' + url.split('/')[-2]
import pandas as pd
url = 'https://drive.google.com/file/d/1Eg8Lffm49bc-bGFkv_4ddrQw8U8WE6P4/view?usp=sharing'
url2021 = 'https://drive.google.com/uc?id=' + url.split('/')[-2]

In [3]:
df20 = pd.read_csv(url2020)
df21 = pd.read_csv(url2021)

**retail_and_recreation_percent_change_from_baseline**

Mobility trends for places like restaurants, cafes, shopping centers, theme parks, museums, libraries, and movie theaters.

**grocery_and_pharmacy_percent_change_from_baseline**

Mobility trends for places like grocery markets, food warehouses, farmers markets, specialty food shops, drug stores, and pharmacies.

**parks_percent_change_from_baseline**

Mobility trends for places like local parks, national parks, public beaches, marinas, dog parks, plazas, and public gardens.

**transit_stations_percent_change_from_baseline**

Mobility trends for places like public transport hubs such as subway, bus, and train stations.

**workplaces_percent_change_from_baseline**

Mobility trends for places of work.

In [4]:
df20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167657 entries, 0 to 167656
Data columns (total 15 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   country_region_code                                 167657 non-null  object
 1   country_region                                      167657 non-null  object
 2   sub_region_1                                        167336 non-null  object
 3   sub_region_2                                        141692 non-null  object
 4   metro_area                                          0 non-null       float64
 5   iso_3166_2_code                                     25644 non-null   object
 6   census_fips_code                                    0 non-null       float64
 7   place_id                                            167657 non-null  object
 8   date                                                167657 non-null  object
 9   retail_and_recreation_percent_change_from_baseline  101865 non-null  float64
 10  grocery_and_pharmacy_percent_change_from_baseline   106104 non-null  float64
 11  parks_percent_change_from_baseline                  95186 non-null   float64
 12  transit_stations_percent_change_from_baseline       87723 non-null   float64
 13  workplaces_percent_change_from_baseline             158870 non-null  float64
 14  residential_percent_change_from_baseline            98651 non-null   float64
dtypes: float64(8), object(7)
memory usage: 19.2+ MB

In [5]:
df21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158430 entries, 0 to 158429
Data columns (total 15 columns):
 #   Column                                              Non-Null Count   Dtype
---  ------                                              --------------   -----
 0   country_region_code                                 158430 non-null  object
 1   country_region                                      158430 non-null  object
 2   sub_region_1                                        158152 non-null  object
 3   sub_region_2                                        135654 non-null  object
 4   metro_area                                          0 non-null       float64
 5   iso_3166_2_code                                     22498 non-null   object
 6   census_fips_code                                    0 non-null       float64
 7   place_id                                            158430 non-null  object
 8   date                                                158430 non-null  object
 9   retail_and_recreation_percent_change_from_baseline  91170 non-null   float64
 10  grocery_and_pharmacy_percent_change_from_baseline   92489 non-null   float64
 11  parks_percent_change_from_baseline                  87099 non-null   float64
 12  transit_stations_percent_change_from_baseline       78809 non-null   float64
 13  workplaces_percent_change_from_baseline             154672 non-null  float64
 14  residential_percent_change_from_baseline            98407 non-null   float64
dtypes: float64(8), object(7)
memory usage: 18.1+ MB

In [8]:
frames = [df20, df21]
g_mob=pd.concat(frames)
g_mob.index=range(0,len(g_mob))
g_mob.head(3)

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,TR,Turkey,NaN,NaN,NaN,NaN,NaN,ChIJcSZPllwVsBQRKl9iKtTb2UA,2020-02-15,2.0,3.0,-11.0,-4.0,7.0,1.0
1,TR,Turkey,NaN,NaN,NaN,NaN,NaN,ChIJcSZPllwVsBQRKl9iKtTb2UA,2020-02-16,7.0,6.0,14.0,2.0,5.0,0.0
2,TR,Turkey,NaN,NaN,NaN,NaN,NaN,ChIJcSZPllwVsBQRKl9iKtTb2UA,2020-02-17,6.0,5.0,10.0,5.0,8.0,-2.0

In [9]:
#g_mob.info()

In [10]:
g_mob=g_mob[["date",
             "retail_and_recreation_percent_change_from_baseline",
             "grocery_and_pharmacy_percent_change_from_baseline",
             "parks_percent_change_from_baseline",
             "transit_stations_percent_change_from_baseline",
             "workplaces_percent_change_from_baseline"]]
g_mob.rename(columns={
             "date":"date",
             "retail_and_recreation_percent_change_from_baseline":"restaurants_cafes" ,
             "grocery_and_pharmacy_percent_change_from_baseline":"grocery_pharmacies" ,
             "parks_percent_change_from_baseline":"parks" ,
             "transit_stations_percent_change_from_baseline":"subway_train" ,
             "workplaces_percent_change_from_baseline":"workplaces" 
}, 
             inplace=True);

In [11]:
g_mob.head(3)

,date,restaurants_cafes,grocery_pharmacies,parks,subway_train,workplaces
0,2020-02-15,2.0,3.0,-11.0,-4.0,7.0
1,2020-02-16,7.0,6.0,14.0,2.0,5.0
2,2020-02-17,6.0,5.0,10.0,5.0,8.0

In [12]:
g_mob.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 326087 entries, 0 to 326086
Data columns (total 6 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   date                326087 non-null  object
 1   restaurants_cafes   193035 non-null  float64
 2   grocery_pharmacies  198593 non-null  float64
 3   parks               182285 non-null  float64
 4   subway_train        166532 non-null  float64
 5   workplaces          313542 non-null  float64
dtypes: float64(5), object(1)
memory usage: 14.9+ MB

#### Biraz inceledikten sonra bazı veri ön işleme adımlarını gerçekleştirmemiz gerektiği görüldü
- Bazı columnlarda fazla sayıda eksik değer var. Bu eksik değerleri doldurmalıyız.  
- __"Date"__ değişkeni ayırıp, gün, ay, hafta şeklinde 3 sütun daha eklemek bizim için faydalı olacak.
- Tarihlere göre mobility değişimini hakkında bir içgörü kazanmak adına verileri görselleştireceğiz. Bununla birlikte, bu görselleştirmeye "covid ölümleri" ni de dahil edersek faydalı lacak. O yüzden Covid- ölüm datasını bu dataya ekleyeceğiz. Şu anlık bunları yapıp devam edeceğiz.

__Eksik gözlem analizi__

In [13]:
g_mob.iloc[:, 1:]

        restaurants_cafes  grocery_pharmacies  parks  subway_train  workplaces
0                     2.0                 3.0  -11.0          -4.0         7.0
1                     7.0                 6.0   14.0           2.0         5.0
2                     6.0                 5.0   10.0           5.0         8.0
3                     4.0                 6.0   11.0           4.0         8.0
4                     0.0                 3.0    6.0           0.0         9.0
...                   ...                 ...    ...           ...         ...
326082              -12.0               101.0    NaN         -17.0       -15.0
326083              -14.0                65.0    NaN          -9.0       -17.0
326084              -20.0                 NaN    NaN         -19.0       -24.0
326085               -8.0               111.0    NaN          -4.0       -15.0
326086              -12.0                97.0    NaN          -8.0       -15.0

[326087 rows x 5 columns]

In [16]:
#!pip install ycimpute
from ycimpute.imputer import knnimput
names=list(g_mob)
nparray_df=np.array(g_mob.iloc[:5000, 1:], dtype="float16")
nparray_df.shape

(5000, 5)

In [86]:
g_mob_filled=g_mob.copy()

In [87]:
features_to_fill=["restaurants_cafes","grocery_pharmacies","parks","subway_train","workplaces"]
g_mob_filled.iloc[:2][features_to_fill]

   restaurants_cafes  grocery_pharmacies  parks  subway_train  workplaces
0                2.0                 3.0  -11.0          -4.0         7.0
1                7.0                 6.0   14.0           2.0         5.0

In [88]:
g_mob_filled.iloc[:2][features_to_fill]=[[1,2,3,4,5],[2,3,4,5,6]]
g_mob_filled.head(5)

,date,restaurants_cafes,grocery_pharmacies,parks,subway_train,workplaces
0,2020-02-15,2.0,3.0,-11.0,-4.0,7.0
1,2020-02-16,7.0,6.0,14.0,2.0,5.0
2,2020-02-17,6.0,5.0,10.0,5.0,8.0
3,2020-02-18,4.0,6.0,11.0,4.0,8.0
4,2020-02-19,0.0,3.0,6.0,0.0,9.0

In [89]:
filled_df_array=np.zeros(nparray_df.shape)

In [90]:
for i in np.arange(5000, g_mob.shape[0],5000):
    g_mob_filled=knnimput.KNN(k = 37).complete(nparray_df[curr:i][:]);
    curr=i
 
    if(g_mob.iloc[curr:][:].isnull().values.any()):
        g_mob_filled=knnimput.KNN(k = 37).complete(nparray_df[curr:][:]);

Imputing row 1/5000 with 0 missing, elapsed time: 2.301
Imputing row 101/5000 with 0 missing, elapsed time: 2.301
Imputing row 201/5000 with 0 missing, elapsed time: 2.301
Imputing row 301/5000 with 0 missing, elapsed time: 2.301
Imputing row 401/5000 with 0 missing, elapsed time: 2.301
Imputing row 501/5000 with 0 missing, elapsed time: 2.301
Imputing row 601/5000 with 0 missing, elapsed time: 2.301
Imputing row 701/5000 with 0 missing, elapsed time: 2.301
Imputing row 801/5000 with 0 missing, elapsed time: 2.301
Imputing row 901/5000 with 0 missing, elapsed time: 2.301
Imputing row 1001/5000 with 0 missing, elapsed time: 2.301
Imputing row 1101/5000 with 0 missing, elapsed time: 2.301
Imputing row 1201/5000 with 0 missing, elapsed time: 2.301
Imputing row 1301/5000 with 1 missing, elapsed time: 2.301
Imputing row 1401/5000 with 1 missing, elapsed time: 2.301
Imputing row 1501/5000 with 2 missing, elapsed time: 2.301
Imputing row 1601/5000 with 4 missing, elapsed time: 2.317
Imputing row 1701/5000 with 4 missing, elapsed time: 2.317
Imputing row 1801/5000 with 4 missing, elapsed time: 2.333
Imputing row 1901/5000 with 1 missing, elapsed time: 2.333
Imputing row 2001/5000 with 1 missing, elapsed time: 2.333
Imputing row 2101/5000 with 1 missing, elapsed time: 2.348
Imputing row 2201/5000 with 1 missing, elapsed time: 2.348
Imputing row 2301/5000 with 0 missing, elapsed time: 2.348
Imputing row 2401/5000 with 0 missing, elapsed time: 2.348
Imputing row 2501/5000 with 0 missing, elapsed time: 2.348
Imputing row 2601/5000 with 0 missing, elapsed time: 2.348
Imputing row 2701/5000 with 0 missing, elapsed time: 2.348
Imputing row 2801/5000 with 1 missing, elapsed time: 2.348
Imputing row 2901/5000 with 0 missing, elapsed time: 2.348
Imputing row 3001/5000 with 0 missing, elapsed time: 2.348
Imputing row 3101/5000 with 0 missing, elapsed time: 2.364
Imputing row 3201/5000 with 1 missing, elapsed time: 2.364
Imputing row 3301/5000 with 1 missing, elapsed time: 2.364
Imputing row 3401/5000 with 1 missing, elapsed time: 2.364
Imputing row 3501/5000 with 4 missing, elapsed time: 2.364
Imputing row 3601/5000 with 4 missing, elapsed time: 2.384
Imputing row 3701/5000 with 4 missing, elapsed time: 2.396
Imputing row 3801/5000 with 4 missing, elapsed time: 2.412
Imputing row 3901/5000 with 4 missing, elapsed time: 2.420
Imputing row 4001/5000 with 4 missing, elapsed time: 2.434
Imputing row 4101/5000 with 2 missing, elapsed time: 2.440
Imputing row 4201/5000 with 2 missing, elapsed time: 2.446
Imputing row 4301/5000 with 2 missing, elapsed time: 2.451
Imputing row 4401/5000 with 0 missing, elapsed time: 2.452
Imputing row 4501/5000 with 4 missing, elapsed time: 2.453
Imputing row 4601/5000 with 0 missing, elapsed time: 2.455
Imputing row 4701/5000 with 0 missing, elapsed time: 2.455
Imputing row 4801/5000 with 0 missing, elapsed time: 2.455
Imputing row 4901/5000 with 0 missing, elapsed time: 2.457
[KNN] Warning: 275/25000 still missing after imputation, replacing with 0

ValueError: Input matrix is not missing any values

In [93]:
features_to_fill=["restaurants_cafes","grocery_pharmacies","parks","subway_train","workplaces"]
curr=0
for i in np.arange(1000, 50000,1000):
    filled_df_array[curr:i]=knnimput.KNN(k = 37).complete(nparray_df[curr:i][:]);
    curr=i
    print("asdasd")

Imputing row 1/1000 with 0 missing, elapsed time: 0.086
Imputing row 101/1000 with 0 missing, elapsed time: 0.086
Imputing row 201/1000 with 0 missing, elapsed time: 0.086
Imputing row 301/1000 with 0 missing, elapsed time: 0.086
Imputing row 401/1000 with 0 missing, elapsed time: 0.086
Imputing row 501/1000 with 0 missing, elapsed time: 0.086
Imputing row 601/1000 with 0 missing, elapsed time: 0.086
Imputing row 701/1000 with 0 missing, elapsed time: 0.086
Imputing row 801/1000 with 0 missing, elapsed time: 0.086
Imputing row 901/1000 with 0 missing, elapsed time: 0.086
[KNN] Warning: 110/5000 still missing after imputation, replacing with 0
asdasd
Imputing row 1/1000 with 0 missing, elapsed time: 0.087
Imputing row 101/1000 with 0 missing, elapsed time: 0.087
Imputing row 201/1000 with 0 missing, elapsed time: 0.087
Imputing row 301/1000 with 1 missing, elapsed time: 0.087
Imputing row 401/1000 with 1 missing, elapsed time: 0.104
Imputing row 501/1000 with 2 missing, elapsed time: 0.106
Imputing row 601/1000 with 4 missing, elapsed time: 0.107
Imputing row 701/1000 with 4 missing, elapsed time: 0.111
Imputing row 801/1000 with 4 missing, elapsed time: 0.116
Imputing row 901/1000 with 1 missing, elapsed time: 0.120
[KNN] Warning: 95/5000 still missing after imputation, replacing with 0

ValueError: could not broadcast input array from shape (1000,5) into shape (0,5)

In [94]:
filled_df_array

array([[  2.,   3., -11.,  -4.,   7.],
       [  7.,   6.,  14.,   2.,   5.],
       [  6.,   5.,  10.,   5.,   8.],
       ...,
       [-55., -16., -31., -45., -45.],
       [-58., -23., -41., -47., -48.],
       [-56., -31., -33., -43., -49.]])

**retail_and_recreation_percent_change_from_baseline**

Mobility trends for places like restaurants, cafes, shopping centers, theme parks, museums, libraries, and movie theaters.

**grocery_and_pharmacy_percent_change_from_baseline**

Mobility trends for places like grocery markets, food warehouses, farmers markets, specialty food shops, drug stores, and pharmacies.

**parks_percent_change_from_baseline**

Mobility trends for places like local parks, national parks, public beaches, marinas, dog parks, plazas, and public gardens.

**transit_stations_percent_change_from_baseline**

Mobility trends for places like public transport hubs such as subway, bus, and train stations.

**workplaces_percent_change_from_baseline**

Mobility trends for places of work.